/* Write your code here: */
h1, h2 {
    color: blueviolet;
}

.box > p {
    color: firebrick;
    background-color: aqua;
}

.box li {
    color: blue;
    /* background-color: aqua; */
}

li.done {
    color: seagreen;
}

ul > p.done{
    font-size: 0.5rem;
}